.rectangle {
  width: 200px;
  height: 100px;
  background-color: blue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

#wrapper-new-rectangle {
  border: 3px solid green;
}

.inline {
  display: inline-block;
}
